# Core functionality - changes here should be rare!
/src/app.py                   @cheyennetxy
/src/backend/database.py      @cheyennetxy
/src/backend/routers/auth.py  @cheyennetxy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @cheyennetxy
